* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.0em;
}

html, body {
  height: 100%;
  background: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #2B2B2B;
}

a {
  text-decoration: none;
  color: inherit;
}

#page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}

#page-header, #page-body, #page-footer {
  width: 100%;
}

.dark {
  background: #000000;
  color: #fafafa;
}

.light {
  background: #fafafa;
  color: #000000;
}

#page-header {
  position: fixed;
  top: 0;
  z-index: 1000;

  padding: 1em;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2;

  transform: translate3d(0, 0, 0);
  transition: transform 0.35s ease-out;
}

#page-body {
  /* #page-header has a total height of 4em (2em of padding and 2em of line-height */
  margin-top: calc(4 * 1.4rem)
}

#page-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 840px;
  margin: auto;
  text-transform: uppercase;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  padding: 2em 1em;
}

.section > * {
  flex: 0 0 100%;
}

#home .content {
  max-width: 1200px;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-size: 2.2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#home {
  text-align: center;
}

.span-hide {
  display: none;
}

h1, h2 {
  margin: 1em 0;
}

#home h1, #home h2 {
  margin: 0.5em 0;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

p {
  margin: 1em auto;
  font-weight: 400;
  line-height: 1.4;
}

.dark p {
  font-weight: 200;
}

.light p {
  font-weight: 400;
}

.content h1 {
  font-size: 1.5em;
  text-align: center;
}

.content h2 {
  font-size: 1.2em;
  text-align: center;
}

.content h3 {
  font-size: 1.2em;
  text-align: center;
}

#home h1 {
  font-size: 5.6rem;
}

#home h2 {
  font-size: 2.2rem;
  margin-bottom: 2em;
  /* font-weight: 300; */
}

#me {
  display: inline-block;
}

p.intro {
  /* margin: 3em 0 1em; */
  margin: 0.4em 0;
  /* font-size: 1.6rem; */
  line-height: 1.5;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin: 1.5em auto 0;
}

.skills > * {
  flex: 0 0 100%;
}

.skills h2 {
  text-align: center;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
}

.skill p {
  flex: 0 0 45%;
  margin: 0;
}

.skill-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 55%;
}

.dot {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  /* width: 20px;
  height: 20px;
  width: 11%;
  padding-top: 11%; */

  /* height: 10%; */
  /* margin: 0 auto; */
}

.dot.light{
  background: #848484;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery .project-wrapper {
  flex: 0 0 100%;
}

.gallery .timeline-year, .gallery .timeline-wrapper {
  width: 90%;
}

.gallery .timeline-year {
  font-size: 0.8em;
  text-align: right;
}

.gallery .timeline-year h2 {
  display: inline-block;
  margin: 0.8em 0;
  font-weight: 200;
  letter-spacing: 0.1em;
  transform: translate3d(50%, 0, 0);
}

.gallery .timeline-wrapper {
  position: relative;
  padding: 0.5em 0em;
  padding-right: 3em;
  font-size: 0.8em;
  border-right: 1px solid;
}

.dark .gallery .timeline-wrapper {
  border-color: #fafafa;
}

.gallery .project-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  border: 2px solid;
  border-radius: 50%;
  transform: translate3d(50%, -50%, 0);
}

.gallery .project-icon img {
  display: block;
  position: relative;
  margin: auto;
  width: 55%;
  height: 55%;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.dark .gallery .project-icon {
  background-color: #000000;
  border-color: #fafafa;
}

.gallery .project * {
  text-align: left;
}

#page-footer {
  min-height: initial;
  font-size: 0.7em;
}

p.copyright  {
  margin-bottom: 0;
}

.dark .copyright a {
  font-weight: 400;
}

.contact {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact h1 {
  margin-right: 1em;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  width: 1.5em;
  height: 2em;
  margin-right: 0.5em;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 640px) {
  #page-header {
    font-size: 1.8rem;
  }

  #page-header.closed {
    transform: translate3d(0, -100%, 0);
    transition: transform 0.2s ease-in;
  }

  #page-body {
    /* #page-header has a total height of 4em (2em of padding and 2em of line-height */
    margin-top: calc(4 * 1.8rem)
  }

  #home h1 {
    font-size: 6.4rem;
  }

  #home h2 {
    font-size: 2.8rem;
  }

  p.intro {
    /* font-size: 2.2rem; */
  }

  .skill {
    flex: 0 0 45%;
    padding: 1em;
  }

  .gallery .timeline-wrapper {
    padding-right: 5em;
  }

  .gallery .timeline-year, .gallery .timeline-wrapper {
    width: 92%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 800px) {
  .section {
    padding: 3.6em;
  }

  #home {
    text-align: left;
  }

  /* #home .content::after {
    content: "";
    display: table;
    clear: both;
  } */

  #home .content > * {
    width: 65%;
    float: right;
  }

  #home #me {
    width: 30%;
    float: left;
  }

  #home h1, #home h2 {
    text-align: left;
  }

  #home h1 {
    margin-bottom: 0.2em;
  }

  #home h2 {
    /* margin: 0 0 2.4em; */
  }

  .gallery .timeline-year {
    width: 100%;
    text-align: center;
  }

  .gallery .timeline-year h2 {
    display: block;
    transform: none;
  }

  .gallery .project-wrapper {
    flex: 0 0 100%;
    /* flex: 0 0 45%;
    margin: 1em 0;
    padding: 0.5em; */
  }

  .gallery .timeline-wrapper {
    width: 50%;
    padding: 0.5em 5em;
  }

  .gallery .project-wrapper:nth-of-type(odd) .timeline-wrapper {
    margin-right: auto;
    padding-left: 0;
    border-left: none;
    border-right: 1px solid;
  }

  .gallery .project-wrapper:nth-of-type(even) .timeline-wrapper {
    width: calc(50% + 1px);
    margin-left: auto;
    padding-right: 0;
    border-left: 1px solid;
    border-right: none;
  }

  .gallery .project-wrapper:nth-of-type(even) .project * {
    text-align: right;
  }

  .gallery .project-wrapper:nth-of-type(odd) .project-icon {
    right: 0;
    transform: translate3d(50%, -50%, 0);
  }

  .gallery .project-wrapper:nth-of-type(even) .project-icon {
    left: 0;
    transform: translate3d(-50%, -50%, 0);
  }
}

/* Special Styles */
@media only screen and (min-width: 1200px) {
  .span-hide {
    display: initial;
  }
}
