/* Palette
Black: 141414
Gray: 2B2B2B
White: ECECEA
Red: B30027
Blue: 6DBDD6
Other white: FAFAFA
Other gray: AAAAAA
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.0em;
}

html, body {
  height: 100%;
  background: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #2B2B2B;
}

a {
  text-decoration: none;
  color: inherit;
}

#page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}

#page-header, #page-body, #page-footer {
  width: 100%;
}

.dark {
  background: #000000;
  color: #fafafa;
}

.light {
  background: #fafafa;
  color: #000000;
}

#page-header {
  position: fixed;
  top: 0;
  z-index: 1000;

  padding: 1em;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2;

  transform: translate3d(0, 0, 0);
  transition: transform 0.35s ease-out;
}

#page-body {
  /* #page-header has a total height of 4em (2em of padding and 2em of line-height */
  margin-top: calc(4 * 1.4rem)
}

#page-header.closed {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.2s ease-in;
}

#page-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 840px;
  margin: auto;
  text-transform: uppercase;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  padding: 2em 1em;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  font-size: 2.2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#home {
  text-align: center;
}

.span-hide {
  display: none;
}

h1, h2 {
  margin: 0.5em 0;
}

h1 {
  font-weight: 400;
}

.content h1 {
  font-size: 1.5em;
  text-align: center;
}

.content h2 {
  font-size: 1.2em;
  text-align: center;
}

#home h1 {
  font-size: 5.6rem;
}

#home h2 {
  font-size: 2.0rem;
  font-weight: 200;
}

#me {
  display: inline-block;
}

p#intro {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 2em 0;
}

.skills {
  width: 100%;
  margin: 0 auto;
}

.skills h2 {
  text-align: center;
}

.skill {
  overflow: auto;
}

.skill p {
  float: left;
}

.skill-level {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 40%;
  padding: 0.5em 0;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* margin: 0 auto; */
}

.dot.light{
  background: #808080;
}

/* Tablet Styles */
@media only screen and (min-width: 640px) {
  #page-header {
    font-size: 1.8rem;
  }

  #page-body {
    /* #page-header has a total height of 4em (2em of padding and 2em of line-height */
    margin-top: calc(4 * 1.8rem)
  }

  #home h1 {
    font-size: 6.4rem;
  }

  #home h2 {
    font-size: 2.6rem;
  }

  p#intro {
    font-size: 2.2rem;
  }

  .skills {
    width: 40%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 800px) {
  .section {
    padding: 3.6em;
  }

  #home {
    text-align: left;
  }

  /* #home .content::after {
    content: "";
    display: table;
    clear: both;
  } */

  #home .content > * {
    width: 65%;
    float: right;
  }

  #home #me {
    width: 30%;
    float: left;
  }

  .span-hide {
    display: initial;
  }

  #home h1 {
    margin-bottom: 0.2em;
    text-align: left;
  }

  #home h2 {
    margin: 0;
  }
}
